/vendor
/node_modules
.env
.env.backup
.env.production
.env.dev
.env.uat
.env.prod
.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/public/hot
/public/storage
/public/css
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
.phpcs-cache
.phpunit.result.cache
coverage
/.php-version
.cache
.php_cs.cache
.php-cs-fixer.cache
